body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper,
.wrapper-2 {
	width: 800px;
	margin: 0 0 30px 0;
}

.slider {
	width: 100%;
	margin: 0 0 20px 0;
	overflow: hidden;
	box-sizing: border-box;
}

.slider__line{
	border: 1px solid;
}

.slider__item {
	flex-shrink: 0;
	padding: 5px;
	box-sizing: border-box;
}

.slider__item img {
	display: block;
	width: 100%;
}

.dots {
	margin: 30px 0;
}

.dots__item {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	padding: 0;
	display: inline-block;
	background: #bbb;
	border-radius: 5px;
	cursor: pointer;
}

.active {
	background: #000 !important;
}

.buttons{
	display: flex;
}
